

<div class="claim-section benefits page-width"> 
  <div>
    <div class="claim-content grid__item">
      <span class="claim__image-wrapper">
        {%- liquid
          assign image = block.settings.benefit_image1
          if image contains '.jpg' 
            assign img = image | img_url: '50x', format: 'pjpg'
            assign img_small = image | img_url: '10x', format: 'pjpg'
          else
            assign img = image | img_url: '50x'
            assign img_small = image | img_url: '10x'
          endif
        -%}
        <img 
          class="claim-image lazyload" 
          data-src="{{ img }}" 
          src="{{ img_small }}"
        />
      </span>
      <span class="h1 claim__text">
        {{ block.settings.benefit_text1 }}
      </span>
    </div>

    <div class="claim-content grid__item">
      <span class="claim__image-wrapper">
        {%- liquid
          assign image = block.settings.benefit_image2
          if image contains '.jpg' 
            assign img = image | img_url: '50x', format: 'pjpg'
            assign img_small = image | img_url: '10x', format: 'pjpg'
          else
            assign img = image | img_url: '50x'
            assign img_small = image | img_url: '10x'
          endif
        -%}
        <img 
          class="claim-image lazyload" 
          data-src="{{ img }}" 
          src="{{ img_small }}"
        />
      </span>
      <span class="h1 claim__text">
        {{ block.settings.benefit_text2 }}
      </span>
    </div>

    <div class="claim-content grid__item">
      <span class="claim__image-wrapper">
        {%- liquid
          assign image = block.settings.benefit_image3
          if image contains '.jpg' 
            assign img = image | img_url: '50x', format: 'pjpg'
            assign img_small = image | img_url: '10x', format: 'pjpg'
          else
            assign img = image | img_url: '50x'
            assign img_small = image | img_url: '10x'
          endif
        -%}
        <img 
          class="claim-image lazyload" 
          data-src="{{ img }}" 
          src="{{ img_small }}"
        />
      </span>
      <span class="h1 claim__text">
        {{ block.settings.benefit_text3 }}
      </span>
    </div>

    <div class="claim-content grid__item">
      <span class="claim__image-wrapper">
        {%- liquid
          assign image = block.settings.benefit_image4
          if image contains '.jpg' 
            assign img = image | img_url: '50x', format: 'pjpg'
            assign img_small = image | img_url: '10x', format: 'pjpg'
          else
            assign img = image | img_url: '50x'
            assign img_small = image | img_url: '10x'
          endif
        -%}
        <img 
          class="claim-image lazyload" 
          data-src="{{ img }}" 
          src="{{ img_small }}"
        />
      </span>
      <span class="h1 claim__text">
        {{ block.settings.benefit_text4 }}
      </span>
    </div>
  </div>
</div>